In [117]:
import pandas as pd

In [119]:
pd.read_csv("data/company_1009.csv")

          행 레이블  개수 : 업종
0   경기도 성남시 분당구        8
1   경기도 수원시 영통구        2
2   경기도 수원시 장안구        1
3   경기도 안산시 단원구        2
4   경기도 안양시 동안구        2
5   경기도 용인시 기흥구        2
6     서울특별시 강남구        9
7     서울특별시 강동구        3
8     서울특별시 강서구        2
9     서울특별시 구로구        1
10    서울특별시 동작구        1
11    서울특별시 마포구        3
12    서울특별시 서초구        7
13    서울특별시 성동구        1
14    서울특별시 송파구        3
15   서울특별시 영등포구        9
16    서울특별시 용산구        5
17    서울특별시 종로구       12
18     서울특별시 중구       19
19          총합계       92